<!-- <p>{{worldCases}}</p> -->



<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card style-card">
                <div class="card-body">
                    <h2>New Cases Worldwide : <span class="badge badge-danger"> {{dataGlobal.newCases}} </span></h2>
                    <h2>Total Cases Worldwide : <span class="badge badge-info"> {{dataGlobal.totCases}} </span></h2>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card style-card">
                <div class="card-body">
                    <h2>New Deaths Worldwide : <span class="badge badge-danger"> {{dataGlobal.newDeaths}} </span></h2>
                    <h2>Total Deaths Worldwide : <span class="badge badge-info"> {{dataGlobal.totDeaths}} </span></h2>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card style-card">
                <div class="card-body">
                    <h2>New Recovered Worldwide : <span class="badge badge-success"> {{dataGlobal.newRecovered}} </span></h2>
                    <h2>Total Recovered Worldwide :
                        <span class="badge badge-success"> {{dataGlobal.totalRecovered}} </span></h2>
                </div>
            </div>

        </div>
    </div>
</div>
